body {
    color: white;
    background-color: #1a1a1a;
	font-family: Arial, Helvetica, serif;
	margin: 0;
	overflow-x: hidden;
}

.main-container {
	display:flex;
    flex-wrap:wrap;
	flex-direction: row;
	height: 100vh;
}

/*------------------*/
/* Sidebar-Related  */
/*------------------*/

.sidebar {
	height: 105%;
    width: 300px;
	position: relative;
	background-color: #111111;
    padding-top: 20px;
	color: white;
	flex-shrink: 0;
	border-right: 3px solid #212121;
	z-index: 1000;
}

.sidebarbutton, .sidebarbuttonopen {
    display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	color: #ffffff;
	font-size: 24px;
	border-radius: 15px;
	width: 235px;
	height: 48px;
	font-weight: bold;
	transition: 0.2s;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	background-color: #111111;
	border: none;
	cursor: pointer;
}

.sidebarbuttonopen {
	background-color: #a40eb5;
}

.sidebarbutton:hover, .sidebarbuttonopen:hover {
    transform: scale(1.12);
	background-color: #111111;
	cursor: pointer;
}

.sidebarbuttonopen:hover {
	background-color: #a40eb5;
}

/*------------------*/
/* Scrollbar		*/
/*------------------*/

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: var();
}

::-webkit-scrollbar-thumb {
	background: #333333;
}

::-webkit-scrollbar-thumb:hover {
	background: #444444;
}

/*---------------------*/
/* 		  Footer  	   */
/* STYLE OF THE FOOTER */
/*---------------------*/
footer {
	gap: 0px;
	background-color: #111111;
	padding: 10px;
	color: white;
	position: absolute;
	bottom: auto; /* set to bottom position */
	width: 100%; /* so that there is no horizontal scrollbar */
	height: auto;
	border-top: 3px solid #212121;
	z-index: 999;
}

.footer-links{
	text-align: center;
    list-style-type: none;
	font-family: Arial, Helvetica, serif;;
	font-size: 16px;
	color: white;
	grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 2;
   grid-column-end: 4;
}

.footer-link {
	margin-top: 2px;
	margin-bottom: 2px;
}

.footer-cr {
	text-align: center;
	color: white;
    margin-top: 10px;
	font-family: Arial, Helvetica, serif;;
	font-size: 16px;
}

.footer-other {
	text-align: center;
	color: white;
    margin-top: 10px;
	font-family: Arial, Helvetica, serif;
	font-size: 16px;
	grid-row-start: 1;
   grid-column-start: 4;

   grid-row-end: 2;
   grid-column-end: 5;
}

.footer-logo-txt, .footer-logo{
	align-items: center;
	text-align: center;
	grid-row-start: 1;
   	grid-column-start: 2;

   	grid-row-end: 2;
   	grid-column-end: 3;
}

/*----------------------*/
/* 		   LOGIN  	    */
/*  STYLE OF THE LOGIN  */
/*----------------------*/

.login-main-container {
	justify-content: center;
    height: 600px;
    width: 25%;
    background: #212121;
	margin-top: 175px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5%;
}

.login-header{
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	background: #a40eb5;
	color: white;
	text-align: center;
	border-radius: 24px;
	width: 250px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.il_usr_pwd, .il_usr_name {
	margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;

}

.i_usr_pwd, .i_usr_name {
	background: white;
	margin-top: 5px;
	width: 220px;
	height: 35px;
	border: #1a1a1a;
	border-radius: 15px;
}
.login_button{
	background: #111111;
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 30px;
	width: 125px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.usr_register, .usr_pwd_forgot {
	margin: 20px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.hyperlink1 {
	color: white;
}
.hyperlink1:hover {
	color: #a40eb5;
}