body {
	display:flex;
    flex-wrap:wrap;
    color: white;
    background-color: #1a1a1a;
    font-family: Arial, Helvetica;
}

.sidebar {
	height: 100%;
    width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111111;
	overflow-x: hidden;
    padding-top: 20px;
	color: white;
}


.sidebarbutton {
    display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	color: #ffffff;
	font-size: 24px;
	border-radius: 15px;
	width: 235px;
	height: 48px;
	font-weight: bold;
	transition: 0.2s;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	background-color: #111111;
	border: none;
	cursor: pointer;
}

.sidebarbutton:hover {
    transform: scale(1.12);
	background-color: #111111;
	cursor: pointer;
}

.sidebarbuttonopen {
    display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	color: #ffffff;
	font-size: 24px;
	border-radius: 15px;
	width: 235px;
	height: 48px;
	font-weight: bold;
	transition: 0.2s;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	background-color: #a40eb5;
	border: none;
	cursor: pointer;
}

.sidebarbuttonopen:hover {
    transform: scale(1.12);
	background-color: #a40eb5;
	cursor: pointer;
}

/*---------------------*/
/* 		  Footer  	   */
/* STYLE OF THE FOOTER */
/*---------------------*/
footer {
	background-color: #111111;
	padding: 10px;
	color: white;
	position: absolute;
	bottom: -250px; /* set to bottom position */
	width: 98.5%; /* so that there is no horizontal scrollbar */
	height: auto;
	border-top: 3px solid #212121;
}

.footer-links{
	text-align: center;
    list-style-type: none;
	font: arial;
	font-size: 5;
	color: white;
}

.footer-link {
	margin-top: 2px;
	margin-bottom: 2px;
}

.footer-cr {
	text-align: center;
	color: white;
    margin-top: 10px;
	font: arial;
	font-size: 3;
}

.footer-other {
	text-align: center;
	color: white;
    margin-top: 10px;
	font: arial;
	font-size: 3;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}